< div id="grid-container">  
  <div  >
<mat-grid-tile  >
  <mat-card 
*ngFor="let product of products;"
class=" example-card"
>

    <mat-card-header>
      <mat-card-title> {{product.type}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="http://shop.mustangclinic.com/42-large_default/ford-mustang-fastback-s-code-modell-1967.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      {{product.desc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Buy</button>
      <button mat-button>WishList</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>
</div >
</div>